*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
    background:var(--background-dark);
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:var(--background-dark);
    color:var(--text-color);
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

button{
    border:none;
    cursor:pointer;
}