* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--background-dark);
}

body {
  font-family: var(--font-body);
  background: var(--background-dark);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
  letter-spacing: -0.01em;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
