:root{

    --primary-color:#F28C38;

    --secondary-color:#171B3A;

    --dark-color:#0D1024;

    --light-color:#FFFFFF;

    --text-color:#222222;

    --whatsapp-color:#25D366;

    --transition:.3s ease;

}