:root{


    /* CORES PRINCIPAIS */

    --primary-color:#F28C38;

    --primary-hover:#ff9f4d;


    --background-dark:#0D1024;

    --background-card:#151A35;


    --text-color:#ffffff;

    --text-secondary:#cfcfcf;



    /* EFEITOS */

    --glass-background:
    rgba(255,255,255,.06);


    --glass-border:
    rgba(255,255,255,.12);


    --shadow-premium:
    0 20px 50px rgba(0,0,0,.35);



    /* ANIMAÇÕES */

    --transition:.35s ease;


}