.hero{

    position:relative;

    width:100%;

    height:100vh;

    min-height:700px;

    display:flex;

    align-items:center;

    justify-content:center;

    overflow:hidden;

    background:#171C3A;

}



.hero-background{

    position:absolute;

    inset:0;

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    transform:scale(1.08);

    animation:zoomHero 18s ease-in-out infinite alternate;

}



.hero-overlay{

    position:absolute;

    inset:0;

    background:

    linear-gradient(

        rgba(23,28,58,.75),

        rgba(15,18,40,.92)

    );

    z-index:1;

}





.hero-content{

    position:relative;

    z-index:3;

    width:100%;

    max-width:900px;

    padding:30px;

    text-align:center;

    color:white;

    transform:translateY(20px);

}



.hero-logo{

    width:150px;

    max-width:70%;

    margin:0 auto 20px;

    animation:fadeUp .8s ease;

}




.hero-badge{

    display:inline-flex;

    align-items:center;

    gap:10px;

    padding:10px 22px;

    border-radius:50px;

    border:1px solid rgba(242,140,56,.5);

    color:white;

    margin-bottom:25px;

    background:rgba(255,255,255,.05);

    margin-top:10px;
}



.hero-badge svg{

    color:var(--primary-color);

}





.hero-content h1{

    font-size:72px;

    line-height:1.1;

    font-weight:800;

    margin-bottom:25px;

    text-shadow:

    0 5px 25px rgba(0,0,0,.5);

}





.hero-content p{

    max-width:650px;

    margin:auto;

    font-size:20px;

    line-height:1.7;

    color:#e5e5e5;

}





.hero-actions{

    display:flex;

    justify-content:center;

    gap:20px;

    margin-top:45px;

    flex-wrap:wrap;

}





.hero-button{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    padding:16px 35px;

    border-radius:50px;

    font-size:18px;

    font-weight:700;

    text-decoration:none;

    transition:.3s;

}





.hero-button.primary{

    background:var(--primary-color);

    color:#111;

}





.hero-button.whatsapp{

    background:#25D366;

    color:white;

}





.hero-button:hover{

    transform:translateY(-5px);

}





@media(max-width:900px){


    .hero-content h1{

        font-size:50px;

    }


}



@media(max-width:600px){


    .hero{

        min-height:650px;

    }


    .hero-logo{

        width:180px;

    }


    .hero-content h1{

        font-size:38px;

    }


    .hero-content p{

        font-size:17px;

    }


    .hero-button{

        width:100%;

    }


}



@keyframes zoomHero{


    from{

        transform:scale(1.05);

    }


    to{

        transform:scale(1.12);

    }


}